version: "3.9"

services:
  mongo:
    image: mongo:4.2
    container_name: mern_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: mern_backend
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      - GOOGLE_CLIENT_ID=dummy-client-id
      - GOOGLE_CLIENT_SECRET=dummy-client-secret
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/mern_auth
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mern_auth_frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - REACT_APP_API_URL=http://localhost:3000
    depends_on:
      - backend

volumes:
  mongo_data:
